<!-- Basic layout serves as a base layout for all the pages where %-body% is used to display the respective ejs/html of specific pages/functions. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main.css" />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <!-- Essential css library for autocomplete search bar-->
    <title><%- title %></title>
  </head>
  <body>
    <div class="wrapper">
      <main><%- body %></main>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/scripts/jqueryui/jquery-ui.js"></script>
    <!-- Essential library for autocomplete search bar-->
  </body>
</html>
