@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: P_Marker;
  src: url("fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}
h1 {
  font-family: P_Marker;
  font-size: 4em;
  color: rgb(233, 231, 231);
}
h2 {
  font-family: P_Marker;
  font-size: 2.5em;
  color: rgb(233, 231, 231);
}
h3,
h4,
h5,
h6,
p {
  color: rgb(233, 231, 231);
  font-family: Montserrat;
}
p {
  line-height: 1.7em;
}
.label_for_search {
  color: rgb(233, 231, 231);
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  font-family: Montserrat;
  background-color: rgb(14, 12, 12);
}
#main {
  width: 90vw;
  margin: auto;
  text-align: center;
}
header {
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: rgb(43, 40, 40);
  height: 10vh;
}
header > ul {
  display: flex;
  margin: 0 1em;
  padding: 0.5em 0 0 0.5em;
  align-items: center;
  list-style-type: none;
}

header > ul > li:first-child {
  margin-right: auto;
}

header > ul > li > a > .home_logo,
header > ul > li > a > .movies_logo,
header > ul > li > a > .login_logo,
header > ul > li > a > .signup_logo,
header > ul > li > a > .logout_logo,
header > ul > li > a > .dash_logo {
  padding: 0.5em;
  width: 6vw;
  height: 6vh;
}
li > a > .home_logo {
  background-image: url("images/icons8-documentary-96.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

li > a > .movies_logo {
  background-image: url("images/icons8-movie-theater-96.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
li > a > .login_logo {
  background-image: url("images/icons8-3d-glasses-96.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
li > a > .signup_logo {
  background-image: url("images/icons8-red-carpet-96.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
li > a > .logout_logo {
  background-image: url("images/icons8-bam-96.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
li > a > .dash_logo {
  background-image: url("images/icons8-planet-96.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

header > ul > li:not(:last-child):not(:first-child) {
  margin-right: 0.5em;
}
.head_descr {
  display: none;
}
header > ul > li > a:hover > div > p {
  display: inline-block;
  font-size: 0.8em;
  width: 5vw;
  vertical-align: -185%;
  opacity: 0.7;
}

form {
  max-width: 450px;
  margin: 0 auto;
}

form > div {
  position: relative;
  background: white;
  border-bottom: 1px solid #ccc;
}

form > div > label {
  opacity: 0.3;
  font-weight: bold;
  position: absolute;
  top: 22px;
  left: 20px;
}

form > div > input[type="text"],
form > div > input[type="email"],
form > div > input[type="password"] {
  width: 100%;
  border: 0;
  padding: 20px 20px 20px 50px;
  background: #eee;
}

form > div > input[type="text"]:focus,
form > div > input[type="email"]:focus,
form > div > input[type="password"]:focus {
  outline: 0;
  background: white;
}

form > div > input[type="text"]:focus + label,
form > div > input[type="email"]:focus + label,
form > div > input[type="password"]:focus + label {
  opacity: 0;
}

form > div > input[type="text"]:valid,
form > div > input[type="email"]:valid,
form > div > input[type="passcheck.svgword"]:valid {
  background: url("images/icons8-checkmark-96.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 20px 20px;
}

form > div > input[type="text"]:valid + label,
form > div > input[type="email"]:valid + label,
form > div > input[type="password"]:valid + label {
  opacity: 0;
}

form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
form > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
form
  > div
  > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  background: #df3e56;
  opacity: 0.7;
}

form
  > div
  > input[type="text"]:invalid:not(:focus):not(:placeholder-shown)
  + label,
form
  > div
  > input[type="email"]:invalid:not(:focus):not(:placeholder-shown)
  + label,
form
  > div
  > input[type="password"]:invalid:not(:focus):not(:placeholder-shown)
  + label {
  opacity: 0;
}

form
  > div
  > input[type="text"]:invalid:focus:not(:placeholder-shown)
  ~ .requirements,
form
  > div
  > input[type="email"]:invalid:focus:not(:placeholder-shown)
  ~ .requirements,
form
  > div
  > input[type="password"]:invalid:focus:not(:placeholder-shown)
  ~ .requirements {
  max-height: 200px;
  padding: 0 30px 20px 50px;
}

form > div .requirements {
  padding: 0 30px 0 50px;
  color: rgb(130, 127, 127);
  max-height: 0;
  -webkit-transition: 0.28s;
  transition: 0.28s;
  overflow: hidden;
  color: #df3e56;
  font-style: italic;
}

form input[type="submit"] {
  display: block;
  width: 100%;
  margin: 20px 0;
  background: #df3e56;
  color: white;
  border: 0;
  padding: 20px;
  font-size: 1.2rem;
}

a:-webkit-any-link {
  color: #df3e56;
  cursor: pointer;
  text-decoration: underline;
}
* {
  box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */
.cover > img {
  width: 23vw;
  object-fit: contain;
}

.movie-detail-flex {
  display: flex;
  width: 90vw;
}
.movie-detail-flex-descr {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-left: 5vw;
  align-items: flex-start;
}
.movie-detail-flex-descr > p {
  text-align: left;
}
.movieDetail > .title {
  margin: 2vh auto;
}
/*STAR RAT*/

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: 0.3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after {
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.rating-css {
  background: none;
  border-bottom: none;
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.emoji > svg {
  margin: 15px 0;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-100px);
}
#rating-2:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-200px);
}
#rating-3:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-300px);
}
#rating-4:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-400px);
}
#rating-5:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-500px);
}

.feedback {
  max-width: 360px;

  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}
.rating_form {
  width: 25vw;
}
#rating_submit {
  display: block;
  width: 10vw;
  margin: 0.2em 0;
  background: #df3e56;
  color: white;
  border: 0;
  padding: 0.2em;
  font-size: 1em;
}
#topfive {
  margin: 10vh auto;
  width: 90vw;
  align-items: center;
  font-family: Montserrat;
  color: rgb(233, 231, 231);
}
#topfive > tbody > tr > td {
  text-align: center;
}
#topfive > tbody {
  width: 100%;
}
#topfive_row > td > a > img {
  width: 15vw;
  object-fit: contain;
}
#topfive_row > td > a:hover > img {
  width: 16vw;
  object-fit: contain;
}
#topfive_row2 > td {
  width: 15vw;
  object-fit: contain;
}

footer {
  flex-shrink: 0;
  margin: 0;
  padding: 10px 20px;
  align-items: center;
  background-color: rgb(43, 40, 40);
  color: white;
}
.wrapper {
  flex: 1 0 auto;
}

.user_profile {
  color: white;
  list-style-type: none;
}
.user_rating {
  background-color: rgb(233, 231, 231);
  color: rgb(43, 40, 40);
  row-gap: 1em;
  margin: 10vh auto;
  padding: 2em;
  align-items: center;
  border: 1px solid black;
}
.message_success,
.error {
  color: white;
}

.mostreviewed {
  margin: 4vh auto;
}
.mostreviewed > tbody > tr > td > a > img {
  width: 10vw;
  object-fit: contain;
}
