<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Rated movies</title>
  </head>
  <body>
    <header>
      <ul>
        <li>
          <a href="/">
            <div class="home_logo"><p class="head_descr">Home</p></div>
          </a>
        </li>
        <li>
          <a href="/movies">
            <div class="movies_logo"><p class="head_descr">All movies</p></div>
          </a>
        </li>
        <% if (!user) { %>
        <li>
          <a href="/login">
            <div class="login_logo"><p class="head_descr">Login</p></div>
          </a>
        </li>
        <li>
          <a href="/signup">
            <div class="signup_logo"><p class="head_descr">Sign up</p></div>
          </a>
        </li>
        <%} %> <% if (user) { %>
        <li>
          <a href="/dashboard">
            <div class="dash_logo"><p class="head_descr">Dashboard</p></div>
          </a>
        </li>
        <li>
          <a href="/logout">
            <div class="logout_logo"><p class="head_descr">Logout</p></div>
          </a>
        </li>
        <%} %>
      </ul>
    </header>

    <section id="main">
      <h1>Here are most reviewed movies! Maybe you want to review one!</h1>
      <table class="mostreviewed">
        <tr id="mostreviewed_row"></tr>
        <tr id="mostreviewed_row2"></tr>
      </table>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="/scripts/script_allmovies.js"></script>
    </section>
  </body>
</html>
