<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Start of the autocomplete search bar-->
    <div class="ui-widget">
      <label for="movieSearch">Search movie: </label>
      <input type="text" id="movieSearch">
    </div>
    <!-- End of the autocomplete search bar-->

    <input type="text" id="searchBar" />

    <button id="searchBtn">Search</button>

    <table id="searchResults"></table>
    <ul id="list"></ul>

    <div class="pagination"></div>

    <ul>
      <% if(messages.success_msg) { %>
      <li><%= messages.success_msg %></li>
      <% } %>
    </ul>

    <a href="/login">Log in pls</a>
    <a href="/signup">Sign up</a>
    <a href="/movie">Movie</a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/scripts/scripts.js"></script>
  </body>
</html>
